/*====================Globale Stylings====================*/

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/*======================Button Styles=================================*/

/*language Button styles*/

#langSwitch_english > img {
  height: 40px;
}

#langSwitch_deutsch > img {
  height: 40px;
}

#langSwitch_english {
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#langSwitch_deutsch {
  border: none;
  cursor: pointer;
}
/*Langugage Button positioning*/

.buttonContainer {
  position: absolute;
  top: 60px;
  right: 30px;
}

/*======================Styling Navigationsbar===========================*/

.navBar {
  width: 100%;
  height: 50px;
  background-color: rgb(78, 74, 74);
  position: relative;
}

.navBar > a > img {
  position: absolute;
  display: inline-block;
  text-decoration: none;
}

.navBar > ul > li {
  display: inline-block;
  height: 100%;
  padding: 0 0.4rem 0 0.4rem;
}

.navBar > ul {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  height: 100%;
}

.navBar > ul > li > a {
  display: inline-block;
  margin-top: 0.8rem;
}

.navBar > ul > li > a:link {
  color: white;
  text-decoration: none;
}

.navBar > ul > li > a:active {
  color: red;
  text-decoration: none;
}

.navBar > ul > li > a:visited {
  color: white;
  text-decoration: none;
}

.navBar > ul > li > a:hover {
  color: red;
  text-decoration: none;
}

.active {
  background-color: rgb(187, 20, 20);
}

/*=======================Styling Banner==============================*/

.header-banner > img {
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
}

/*=======================Styling Infotext============================*/

#Kopfzeile {
  font-size: 4rem;
  color: rgba(0, 255, 234, 0.705);
  margin-left: 20px;

  position: absolute;
  top: 5rem;
  right: 40%;
}

#TextBeschreibung {
  margin-left: 400px;
  margin-right: 400px;
  top: 400px;
  position: absolute;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
/*===========================Meine Projektseite=====================*/

.container a > img {
  height: 200px;
  width: 200px;
}

.container > h2 {
  margin-top: 20px;
}

.Leistungen-Bereich {
  padding-top: 1rem;
}

.Leistung-Box {
  background-color: gray;
  text-align: center;
  color: black;
  padding: 2rem 2rem 2rem;
  width: 20%;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

/*====================Impressum==================================*/
#impressumh1 {
  margin-left: 50px;
}

#impressumText {
  margin-left: 50px;
}

/*====================MEDIA QUERRIES=============================*/

/*Querry for Startpage*/
@media only screen and (max-width: 1300px) {
  .header-banner > img {
    width: 100%;
  }

  #Kopfzeile {
    top: 2rem;
    right: 25%;
  }

  #TextBeschreibung {
    margin-left: 200px;
    margin-right: 200px;
    top: 170px;
    font-size: 0.8rem;
    
  }
}

/*Querry for Project site*/
@media only screen and (max-width: 1300px) {
  .Leistung-Box {
    width: 50%;
    font-size: 0.8rem;
  }
}


