/*====================Globale Stylings====================*/

html {
  font-family: sans-serif;
}

body {
  height: 120vh;
  background-image: linear-gradient(
    to top left,
    rgba(255, 136, 0, 0.596),
    rgba(172, 126, 0, 0.849)
  );
}

/*=======================Styling Kopfzeile============================*/

#Kopfzeile {
  font-size: 4rem;
  color: rgba(0, 0, 255, 0.705);
}
