/*====================Globale Stylings====================*/

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/*=======================Styling für alle Seiten anwendbar==============*/

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*======================Button Styles=================================*/

/*language Button styles*/

#langSwitch_english > img {
  height: 40px;
}

#langSwitch_deutsch > img {
  height: 40px;
}

#langSwitch_english {
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#langSwitch_deutsch {
  border: none;
  cursor: pointer;
}
/*Langugage Button positioning*/

.buttonContainer {
  position: absolute;
  top: 5px;
  right: 8px;
}

.buttonContainer img {
    border-radius: 100%;
}

/*allgemeine Submitbutton Styles*/

.btn-typ-0 {
    padding: 11px;
    margin-left: 15px;
    border: none;
    background-color: rgba(185, 27, 27, 0.877);
}

.btn-typ-0:hover {
  color: blue;
  font-weight: bold;
  background-color: rgb(247, 13, 13);
  cursor: pointer;
  transition: all 0.7s;
}

/*======================Styling Logo=====================================*/

#logo {
  height: 100px;
  width: 100px;
  display: inline-block;
  position: absolute;
  padding: 20px;
  top: -30px;
  left: -22px;
}

/*======================Styling Navigationsbar===========================*/

.navBar {
    width: 100%;
    height: 50px;
    background-color: rgb(78, 74, 74);
    position: relative;
}

.navBar .col-6 {
    padding-top: 0;
    padding-bottom: 0;
}

.navBar .container,
.navBar .row,
.navBar .col-6 {
    height: 100%;
}


.navBar .col-6>a>img {
    float: left;

    text-decoration: none;
}

.navBar ul>li {
    display: inline-block;
    height: 100%;
    padding: 0 0.4rem 0 0.4rem;
}

.navBar ul {
    margin: 0;
    right: 100px;
    position: absolute;
    padding: 0;
    font-weight: bold;
    font-size: 1.2rem;
    height: 100%;
}

.navBar ul>li>a {
    display: inline-block;
    margin-top: 0.9rem;
}

.navBar ul>li>a:link {
    color: white;
    text-decoration: none;
}

.navBar ul>li>a:active {
    color: red;
    text-decoration: none;
}

.navBar ul>li>a:visited {
    color: white;
    text-decoration: none;
}

.navBar ul>li>a:hover {
    color: red;
    text-decoration: none;
}

.active {
    background-color: rgb(187, 20, 20);
}

/*====================================Mobile Navigation=====================*/

.mobile-nav-button {

    color: #fff;
    float: right;
    font-size: 2.5rem;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    position: relative;
    margin-bottom: 20px;
    margin-right: 80px;
    top: 5px;
}

.mobile-nav-button>span {
    position: absolute;
    bottom: -4px;
    left: 5.8px;
}

.mobile-nav-content>ul>li {
    display: block;
    background-color: rgb(78, 74, 74);
    height: 60px;
    padding: 0 1rem 1rem;
}

.dropdown-construct {
    position: relative;
    display: inline-block;
    float: right;
}

.mobile-nav-content {
    position: absolute;
    right: 0;
    top: 50px;
    display: none;
}

.dropdown-construct:hover>.mobile-nav-content {
    display: block;
    z-index: 2;
}

.mobile {
    display: none;
}

@media(max-width:768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
  
    #logo {
    height: 60px;
    width: 70px;
    display: inline-block;
    position: absolute;
    padding: 2px;
    top: -10px;
    left: -5px;
  }
}

/*=======================Styling Banner==============================*/

.header-banner {
    background: url("binary-ged54047ed_1920.jpg") no-repeat center center;
    width: 100%;
    height: 0;
    padding-top: 20%;
    background-size: contain;
    z-index: -2;
}

/*========================Newsletter Bereich==========================*/
.newsletter-Bereich {
  width: 100%;
  background-color: rgb(78, 74, 74);
  margin-top: -5px;
}

#nb-text {
  color: #fff;
  font-size: 1.2rem;
}

#nb-text > span {
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
}

.email-input {
  width: 60%;
  height: 35px;
  border: none;
  padding: 0.5rem 0.5rem;
}

#nb-form {
  float: right;
  margin-top: 35px;
  text-align: right;
  width: 100%;
}

/*MediaQuerry für den NewsletterBereich*/
@media (max-width: 1366px) {
  #nb-text {
    font-size: 1rem;
  }

  #nb-text > span {
    font-size: 1rem;
  }

  #btn-typ-0 {
    width: 60%;
  }
}
@media (max-width: 768px) {
  #nb-text {
    font-size: 0.6rem;
  }

  #nb-text > span {
    font-size: 0.6rem;
  }

  .newsletter-Bereich {
    text-align: center;
  }

  #nb-form {
    margin-top: 10px;
    text-align: center;
    width: 100%;
  }

  #nb-email {
    margin-right: 54.5px;
    margin-top: -10px;
  }
}



/*========================Styling des Beschreibungsabschnittes============*/
#BeschreibungsBereich {
  background-color: #f1f5f0;
}

.Intro-container {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
}

.Intro-container>h1 {
    color: rgb(28, 209, 209);
    font-size: 2.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.Intro-container>p {
    font-size: 1.2rem;
}

.beschreibung-Boxen {
    background-color: rgb(78, 74, 74);
    color: #fff;
    text-align: center;
    padding: 1rem 3rem 3rem;
    width: 60%;
    margin-bottom: 2rem;
   box-shadow: 0 0px 8px black;
}

.beschreibung-Boxen2 {
    background-color: rgb(78, 74, 74);
    color: #fff;
    text-align: center;
    padding: 1rem 3rem 3rem;
    width: 62.3%;
    margin-left: auto;
    margin-right: auto;
   box-shadow: 0 0px 8px black;
}

.beschreibung-Boxen2>a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;

}

.beschreibung-Boxen>a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

#BeschreibungsBereich .row>.col-3:nth-of-type(even)>.beschreibung-Boxen {

    margin-left: 1rem;
    margin-right: auto;
}

#BeschreibungsBereich .row>.col-3:nth-of-type(odd)>.beschreibung-Boxen {
    margin-right: 1rem;
    margin-left: auto;
}

/*MediaQuerries für BeschreibungBereich*/

@media (max-width: 1366px) {
  .beschreibung-Boxen {
    width: 80%;
  }

  .beschreibung-Boxen2 {
    width: 83%;
  }
}

@media (max-width: 1024px) {
  .Intro-container {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .beschreibung-Boxen {
    width: 100%;
    margin-bottom: 1rem;
  }

  .beschreibung-Boxen2 {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .Intro-container {
    width: 90%;
  }
  .beschreibung-Boxen2 {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  #BeschreibungsBereich .row > .col-3:nth-of-type(even) > .beschreibung-Boxen {
    margin-left: 0;
  }
  #BeschreibungsBereich .row > .col-3:nth-of-type(odd) > .beschreibung-Boxen {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .Intro-container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #BeschreibungsBereich .row > .col-3:nth-of-type(even) > .beschreibung-Boxen {
    margin-left: 0;
  }

  #BeschreibungsBereich .row > .col-3:nth-of-type(odd) > .beschreibung-Boxen {
    margin-right: 0;
  }

  .beschreibung-Boxen2 {
    width: 100%;
  }
}

/*============================VideoBereich===========================*/

.video-Bereich {
  background-color: rgb(78, 74, 74);
  width: 100%;
}

.video-Bereich video {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: block;
}

/*Videobereich für Video-bereich*/

@media (max-width: 1440px) {
  .video-Bereich video {
    width: 45%;
  }
}

@media (max-width: 1024px) {
  .video-Bereich video {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .video-Bereich video {
    width: 80%;
  }
}

/*===========================Lernelement============================*/
.Lernelemente {
  background-color: #f1f5f0;
}

.Sprachbeschreibung {
  text-align: center;
  width: 80%;
}

.Sprachbeschreibung > h1 {
  font-size: 1.4rem;
  font-weight: bold;
}

.Lernelemente .row:nth-of-type(2) .col-2:first-of-type .Sprachbeschreibung {
  margin-right: 0;
  margin-left: auto;
}

.Lernelemente .row:nth-of-type(2) > .col-2:nth-of-type(2) .Sprachbeschreibung {
  margin-left: auto;
  margin-right: auto;
}

.Lernelemente .row:nth-of-type(2) .col-2:last-of-type .Sprachbeschreibung {
  margin-right: auto;
  margin-left: 0;
}

@keyframes iconAnim {
  0% {
    transform: rotateZ(0deg);
  }
  11.11% {
    transform: rotateZ(0deg);
  }
  22.22% {
    transform: rotateZ(90deg);
  }
  33.33% {
    transform: rotateZ(90deg);
  }
  44.44% {
    transform: rotateZ(180deg);
  }
  55.55% {
    transform: rotateZ(180deg);
  }
  66.66% {
    transform: rotateZ(270deg);
  }
  77.77% {
    transform: rotateZ(270deg);
  }
  88.88% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.icons {
  width: 120px;
  height: 120px;
  background-color: rgb(78, 74, 74);
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 3px 5px;
}

.icon-image {
  height: 120px;
  width: 120px;
  border-radius: 20%;
  animation: iconAnim 5s ease-in-out infinite alternate;
}

/*MediaQuerry für Lernelementbereich*/

@media (max-width: 768px) {
  .Lernelemente .row:nth-of-type(2) .col-2:first-of-type .Sprachbeschreibung {
    margin-right: auto;
    margin-left: auto;
  }

  .Lernelemente .row:nth-of-type(2) .col-2:last-of-type .Sprachbeschreibung {
    margin-right: auto;
    margin-left: auto;
  }
}

/*==============================Fusszeile==========================*/

.Fusszeile {
  background-color: rgb(78, 74, 74);
  color: white;
}

#kontakt {
  float: right;
  margin-right: 100px;
}

#copyright {
  margin-left: 100px;
}

/*MediaQerry Fusszeile*/

@media (max-width: 768px) {
  #kontakt {
    margin-left: auto;
    margin-right: auto;
  }

  #copyright {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 428px) {
  #kontakt {
    margin-left: auto;
    margin-right: auto;
  }

  #copyright {
    margin-left: auto;
    margin-right: auto;
  }
}



/*===========================Meine Projektseite=====================*/
#projektSeite {
  background-color: rgba(49, 44, 44, 0.568);
}

.flex-container {
  display: flex;
  margin-top: 250px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;

  justify-content: center;
}

.flex-container * {
  margin: 1rem;
}

/*====================Impressum==================================*/
#impressumh1 {
  margin-left: 50px;
}

#impressumText {
  margin-left: 50px;
}

/*=====================Grid System===============================*/

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 0.8rem;
}

.col-1 {
  width: 16.666%;
}
.col-2 {
  width: 33.333%;
}
.col-3 {
  width: 50%;
}
.col-4 {
  width: 66.666%;
}
.col-6 {
  width: 100%;
}

/*====================MEDIA QUERRIES=============================*/

/*Querry for Startpage*/
@media only screen and (max-width: 1300px) {


    #Kopfzeile {}

    #TextBeschreibung {
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 20px;
        font-size: 0.8rem;

    }
}

/*Querry for Project site*/
@media only screen and (max-width: 1300px) {
    .Leistung-Box {
        width: 50%;
        font-size: 0.8rem;
    }
}

/*Querrys für das Gridgerüst*/

@media (max-width: 1024px) {
  .col-1 {
    width: 33.333%;
  }
}

@media (max-width: 768px) {
  .col-1 {
    width: 50%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
}


